@charset "utf-8";

@keyframes opacity_show {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes opacity_hide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes layer_open {
	0% {top: 40px;}
	100% {top: 0;}
}
@keyframes layer_close {
	0% {top: 0;}
	99% {top: 40px;}
	100% {top: 100%;}
}

@keyframes bottomToShow {
	0% {transform: translateY(100%)}
	50%,
	70% {transform: translateY(-5%)}
	100% {transform: translateY(0%)}
}

@keyframes scrollInfoLeft {
	0%, 20% {
		margin-left: -4px;
		transform: rotate(0deg);
	}
	50% {
		margin-left: -4px;
	}
	80%,
	100% {
		margin-left: -2px;
		transform: rotate(45deg);
	}
}
@keyframes scrollInfoRight {
	0%, 20% {
		margin-left: 4px;
		transform: rotate(0deg);
	}
	50% {
		margin-left: 4px;
	}
	80%,
	100% {
		margin-left: 2px;
		transform: rotate(-45deg);
	}
}