@charset "utf-8";

@keyframes opacity_show {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes opacity_hide {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes layer_open {
	0% {top: 40px;}
	100% {top: 0;}
}
@keyframes layer_close {
	0% {top: 0;}
	99% {top: 40px;}
	100% {top: 100%;}
}