@charset "UTF-8";

/* 걷기가이드 */

.walking_guide_wrap {
  transition: padding 0.3s;
}
.walking_guide_wrap .desc_box .inner {
  display: flex;
  color: #000;
}
.walking_guide_wrap .desc_box .inner > div {
  height: 20px;
  padding: 0 8px;
  background: #FDB022;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  line-height: 22px;
}
.walking_guide_wrap .desc_box .inner > div.distance {
  background: #7CD4FD;
}
.walking_guide_wrap .desc_box .inner > div.distance span:after {
  background: url("../images/guide/ico_distance.svg") no-repeat;
  background-size: 100%;
}
.walking_guide_wrap .desc_box .inner > div + div {
  margin-left: 4px;
}
.walking_guide_wrap .desc_box .inner > div span {
  position: relative;
  display: inline-block;
  height: 100%;
  padding-left: 18px;
  border-radius: 6px;
}
.walking_guide_wrap .desc_box .inner > div span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url("../images/guide/ico_time.svg") no-repeat;
  background-size: 100%;
}
.walking_guide_wrap .guide_list_wrap.active .filter_view button span:before {
  background-image: url("../images/challenge/ico_view_large.svg");
}
.walking_guide_wrap .guide_list_wrap.active .filter_view button span:after {
  content: "크게";
}
.walking_guide_wrap .guide_list_wrap.active .guide_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px 10px;
}
.walking_guide_wrap .guide_list_wrap.active .guide_list > div {
  min-height: 244px;
}
.walking_guide_wrap .guide_list_wrap.active .guide_list > div .visual_box {
  height: 100%;
}
.walking_guide_wrap .guide_list_wrap.active .guide_list > div .visual_box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.walking_guide_wrap .guide_list_wrap.active .guide_list > div .content_box > .inner > .title br {
  display: none;
}
.walking_guide_wrap .guide_list_wrap.active .guide_list > div + div {
  margin-top: 0;
}
.walking_guide_wrap .guide_list_wrap .filter_view {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 11px 28px 0 0;
}
.walking_guide_wrap .guide_list_wrap .filter_view button {
  margin-left: 16px;
  background: none;
  font-size: 13px;
  font-weight: 800;
  color: var(--color-brand1);
}
.walking_guide_wrap .guide_list_wrap .filter_view button span {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.walking_guide_wrap .guide_list_wrap .filter_view button span:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../images/challenge/ico_view_small.svg") no-repeat;
  background-size: 100%;
}
.walking_guide_wrap .guide_list_wrap .filter_view button span:after {
  content: "작게";
}
.walking_guide_wrap .guide_list_wrap > .guide_list {
  padding: 24px 20px 35px;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div {
  overflow: hidden;
  position: relative;
  border-radius: 24px;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div + div {
  margin-top: 16px;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .visual_box {
  position: relative;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .visual_box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 20%);
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .visual_box img {
  display: block;
  width: 100%;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .content_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .content_box > .inner {
  flex: 1;
  padding: 0 16px 18px;
  background: #000;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -5%, #000 100%);
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .content_box > .inner > .title {
  display: block;
  margin-top: 14px;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .content_box > .inner > .desc_box {
  margin-top: 8px;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .content_box > .inner > .player_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #667085;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div .content_box > .inner > .player_bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #B5FA95;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div > button {
  position: absolute;
  top: 24px;
  right: 24px;
}
.walking_guide_wrap .guide_list_wrap > .guide_list > div > button span {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/guide/ico_soundfit_down.svg") no-repeat;
  background-size: 100%;
  font-size: 0;
  line-height: 0;
}
.walking_guide_wrap .select_box > .optionList > li {
  padding-right: 30px;
}
.walk_detail_wrap.modal_layer_popup .layer_content_wrap .layer_content .layer_header {
  background:transparent;
}
.walk_detail_wrap.modal_layer_popup .layer_content_wrap .layer_close {
  background: url(../images/common/ico_cross04.svg) no-repeat 50%;
  background-size: 100%;
}
.walk_detail_wrap.modal_layer_popup.fullscreen .layer_content_wrap {
  padding-top: 0;
}
.walk_detail_wrap.modal_layer_popup .layer_content_wrap .layer_content .layer_body {
  padding: 0;
}
.walk_detail_wrap.modal_layer_popup.fullscreen .layer_content_wrap .layer_content .layer_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0;
  padding: 0 10px;
}
.walk_detail_wrap.modal_layer_popup.fullscreen .layer_content_wrap .layer_content .layer_header > button {
  font-size: 0;
  line-height: 0;
  padding: 20px;

}
.walk_detail_wrap.modal_layer_popup.fullscreen .layer_content_wrap .layer_content .layer_header .btn_back {
  background: url(../images/common/ico_arrow_left02.svg) no-repeat 50%;
  background-size: 16px;
}
.walk_detail_wrap.modal_layer_popup.fullscreen .layer_content_wrap .layer_content .layer_header .btn_share {
  background: url(../images/common/ico_share02.svg) no-repeat 50%;
  background-size: 16px;
}
.walk_detail_wrap .layer_header h1 {
  opacity: 0;
}
.walk_detail_wrap .visual_image {
  margin: 0 -20px;
}
#wrap.download_show .player_download_wrap .player_wrap {
  transform: translateY(-100%);
}

#wrap .player_download_wrap .player_wrap .player_status {
  padding-right: 20px;
}
#wrap .player_download_wrap .player_wrap .player_status span {
  color: #98A2B3;
  margin-left: auto;
} 
.player_download_wrap .player_wrap .player_controll .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.guide_detail_wrap .layer_content_wrap {
  padding: 0;
}
.guide_detail_wrap .layer_content_wrap .layer_content {
  padding: 0;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 44px;
  padding: 0 20px;
  background: #F9F9FB;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header h1 {
  text-align: left;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > div {
  height: 100%;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header button {
  min-width: 24px;
  min-height: 24px;
  border: 0 none;
  font-size: 0;
  line-height: 0;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .title_wrap {
  flex: 1;
  display: flex;
  align-items: center;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .title_wrap h1 {
  flex: 1;
  padding: 0 32px;
  font-size: 18px;
  font-weight: 800;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  font-weight: 800;
  color: var(--color-font1);
  line-height: 24px;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .title_wrap .btn_back {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background: url("../images/common/ico_arrow_left01.svg");
  background-size: 100%;
  border: 0 none;
  transform: translateY(-50%) rotate(270deg);
  transform-origin: center;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .icon_wrap {
  position: absolute;
  top: 0;
  right: 12px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .icon_wrap button span {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 8px;
  box-sizing: content-box;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .icon_wrap button.btn_setting span {
  width: 24px;
  height: 24px;
  background: url("../images/common/ico_menu.svg") no-repeat 50%;
  background-size: 24px;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .icon_wrap button.btn_comments span {
  background: url("../images/challenge/ico_comments.svg") no-repeat 50%;
  background-size: 16px;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .icon_wrap button.btn_share span {
  background: url("../images/challenge/ico_share.svg") no-repeat 50%;
  background-size: 16px;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .icon_wrap button.btn_favorite span {
  background: url("../images/challenge/ico_favorite.svg") no-repeat 50%;
  background-size: 16px;
}
.guide_detail_wrap .layer_content_wrap .layer_content .header > .icon_wrap button.btn_share span {
  background: url("../images/common/ico_share.svg") no-repeat 50%;
  background-size: 16px;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container {
  position: relative;
  z-index: 500;
  padding: 70% 0 90px;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container > .guide_visual {
  position: fixed;
  top: 44px;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: #F9F9FB;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container > .guide_visual img {
  display: block;
  width: 100%;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container > .guide_inner {
  padding: 0 20px;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container > .guide_inner h2 {
  font-size: 18px;
  font-weight: 800;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container > .guide_inner > .guide_title {
  padding: 24px;
  background: #fff;
  border-radius: 24px;
  color: #000;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container > .guide_inner > .guide_title h2 {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 800;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container > .guide_inner > .guide_title p {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 400;
}
.guide_detail_wrap .layer_content_wrap .layer_content .container > .guide_inner .guide_content {
  margin-top: 12px;
}
