:root {
  --color-pri1: #4B20EC;
  --color-sec1: #FF003A;
  --color-sec2: #EAEAEA;

  --color-black: #111;
  --color-gray: #777;
  --color-gray2: #AAA;
}

@mixin text_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



html, body, #wrap {height: 100%;}
// 레이어 팝업 오픈 시
body.active {overflow: hidden;}
// 간격
.interval_padding {padding-top: 20px;}
// 모달 팝업
.modal_layer_popup {
  display: flex;
  align-items: flex-end;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

	opacity: 0;
	pointer-events: none;
	transition: opacity 0.1s linear;
	// 오픈
  &.active {
		opacity: 1;
    pointer-events: auto;
		.layer_content_wrap {
			transform: translateY(0);
		}
  }
	// 드래그
	&.dragging {
		.layer_content_wrap {
			transition: none;
		}
	}
  .dimmed_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .layer_content_wrap {
    display: flex;
    position: relative;
    width: 100%;
    height: 0;

    max-width: 768px;
    max-height: calc(100% - 44px);

		transform: translateY(100%);
    transition: 0.3s ease;

    margin: 0 auto;
    padding: 60px 0 70px;

    border-radius: 10px 10px 0 0;
    background: #fff;
    box-sizing: border-box;
    .layer_content {
      // height: 100%;
      flex: 1;
      overflow-y: auto;
      padding: 0 30px;


                font-size: 20px;
      .layer_header {
        h1 {
          font-size: 20px;
          font-weight: 800;
          text-align: center;
          & + p {
            margin-top: 24px;
            font-size: 16px;
            color: var(--color-gray)
          }
        }
      }
      .layer_body {
        padding: 32px 0 48px;
        h2 {
          font-size: 18px;
          font-weight: 800;
        }
        h3 {
          font-size: 16px;
          font-weight: 800;
        }
        // 프로필 설정 스타일 분리
        .profile_wrap {
          padding: 0;
        }
      }
      .layer_footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        .btn_dialog {
          height: 100%;
        }
      }
    }
    .layer_close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      background: #000;
      font-size: 0;
      line-height: 0;
    }
    .layer_drag {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);

			display: flex;
			align-items: center;
			height: 60px;
			padding: 0 50px;

			cursor: grab;
			user-select: none;
			
      span {
        display: block;
        width: 40px;
        height: 4px;

        background: #C7D0E1;
        border-radius: 2px;
      }
    }
  }
  // 중앙 정렬 팝업
  &.align_center {
    display: flex;
    align-items: center;
    justify-content: center;

		transition-delay: 0.2s;
    &.active {
			transition-delay: 0s;
			.layer_content_wrap {
				transform: translateY(0);
				opacity: 1;
			}
    }
    .layer_content_wrap {
			transform: translateY(40px);
			opacity: 0;

      height: auto;
      max-width: 360px;
      // max-height: none;
      margin: 0 30px;
      padding: 0 0 60px;
      border-radius: 0;
      .layer_content {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        .layer_header {
          h1 {
            text-align: left;
            font-size: 18px;
            font-weight: 800;
          }
        }
        .layer_body {
          overflow-y: auto;
          padding: 0;
          margin-right: -20px;
          padding-right: 20px;
          // width: 100%;
          .popup_visual img {display: block;width: 100%;}
          .popup_sub_txt {
            font-size: 16px;
            color: #555;
          }
        }
        .layer_footer {
          height: 60px;
        }
      }
      .layer_close {
        top: 30px;
      }
    }
  }
  // 푸터 없음
  &.hide_footer {
    .layer_content_wrap {
      padding-bottom: 0;
      .layer_content .layer_footer {
        display: none;
      }
    }
  }
}
// 토스트 팝업
.toast_popup_wrap {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s linear, transform 0.8s;
  transition-delay: 0s, 0.1s;
  &.active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.6s linear, transform 0.6s;
    transition-delay: 0.1s, 0s;
  }
  .inner {
    margin: 0 20px 20px;
    padding: 20px 30px;
    border: 1px solid #000;

    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }
}
// 버튼 스타일(레이어 팝업)
.btn_dialog {
  display: flex;
  height: 70px;
  button {
    flex:1;
    height: 100%;

    background: var(--color-pri1);

    font-size: 16px;
    font-weight: 800;
    color: #fff;
    & + button {
      margin-left: 10px;
    }
    &.btn_cancel {
      background: #fff;
      border: 5px solid var(--color-pri1);
      color: var(--color-gray2);
      font-weight: 600;
    }
  }
  &.align_right {
    padding: 0 10px 0 20px;
    justify-content: right;
    button {
      flex: none;
      padding: 0 10px;
      background: #fff;
      border: 0 none;
    
      color: var(--color-pri1);
      &.btn_cancel {
        color: var(--color-gray2);
      }
    }
  }
}
// 블릿 리스트
.bull_list {
  > li {
    position: relative;
    padding-left: 14px;
    font-size: 14px;
    color: var(--color-gray);
    &:after {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50px;
      background: #AAA;
    }
  }
}
// 체크박스 애니메이션
.inpchk_wrap {
  width: 100px;
  height: 40px;
  
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: #fff;
  input {
    display: none;
    &:checked + label span {
      left: calc(100% - 34px);
      background: cyan;
    }
  }
  label {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    span {
      font-size: 0;
      line-height: 0;

      position: absolute;
      top: 4px;
      left: 4px;

      width: 30px;
      height: 30px;

      background: #dfdfdf;
      border: 1px solid #000;
      border-radius: 50%;
      transition: left 0.3s, background 0.3s;
    }
  }
}





// 전체 레이아웃
#wrap {
  display: flex;
  flex-direction: column;

          font-size: 20px;
  #header {
    flex-shrink: 0;

    height: 44px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ffccb6;
    &:empty {
      height: auto;
    }
    > div {
      height: 100%;
    }
    button {
      width: 24px;
      height: 24px;

      border: 0 none;
      background: #000;
      
      font-size: 0;
      line-height: 0;
      & + button {
        margin-left:10px;
      }
    }
    .title_wrap {
      flex: 1;
      display: flex;
      align-items: center;
      h1 {
        @include text_ellipsis();
  
        font-size: 18px;
        font-weight: 800;
        color: var(--color-black);
        line-height: 24px;  
      }
      .btn_back {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
    > .icon_wrap {
      flex-shrink: 0;

      display: flex;
      align-items: center;
    }
  }
  #container {
    height: 100%;
    overflow-y: auto;

    background-color: #ffffb5;
  }
  #footer {
    height: 70px;

    background-color: #a2e1db;
    &:empty {
      height: auto;
    }
  }
}
// 접근 권한
.access_rights {
  .icon_list {
    margin-top: 24px;
    & + h2 {margin-top: 40px;}
    > li {
      position: relative;
      padding-left: 64px;
      & + li {margin-top: 16px;}
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width:48px;
        height: 48px;
        background: #F5F5F5;
        border-radius: 8px;
      }
      > strong {
        font-size: 16px;
        font-weight: 800;
        color: #000;
      }
      > p {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 400;
        color: var(--color-gray);
      }
    }
  }
}
// 인포
.notice_wrap {
  margin-top: 40px;
  padding: 24px 20px;
  background-color: #F7F7F7;
}
// 프로필 설정
.profile_wrap {
  padding: 30px 30px 0;
  .form_list_wrap {
    h3 {
      font-size: 16px;
      font-weight: 800;
    }
    .inp_box_list {
      margin-top: 16px;
      & + h3 {margin-top: 40px;}
      & + .notice_wrap {margin-top: 24px;}
      > li {
        display: flex;
        align-items: center;
  
        height: 60px;
        padding: 0 20px;
        background: #fff;
  
        border: 1px solid #EEE;
        transition: border-color 0.2s ease;
        & + li {margin-top: 8px;}
        &.active {
          border-color: var(--color-pri1);
        }
        input {
          flex: 1;
          height: 100%;
          border: 0 none;
  
          font-size: 16px;
          font-weight: 600;
          &:focus-visible {
            outline: none;
          }
        }
        button {
          width: 24px;
          height:24px;
          margin-left: 8px;
  
          background-color: #000;
          border: 0 none;
        }
        span {
          margin-left: 8px;
        }
      }
    }
  }
}
// 설정
.setting_wrap {
  .setting_list {
    > li {
      padding: 20px;
      & + li {
        border-top: 1px solid #000;
      }
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h2 {
        font-size: 18px;
        font-weight: 800;
        a {
          display: block;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            
            width: 20px;
            height: 20px;
            background: #000;
          }
        }
      }
      > P {
        margin-top: 10px;
        font-size: 14px;
      }
      > .align_right {
        margin-top: 10px;
        display: flex;
        justify-content: right;
        button {
          font-size: 20px;
          font-weight: 800;
          background: transparent;
          border: 0 none;
          span {
            position: relative;
            padding-right: 30px;
            &:after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;

              width: 20px;
              height: 20px;
              background: #000;
            }
          }
        }
      }
    }
  }
}
// 걷기가이드
.walking_guide_wrap {
  .walking_guide_list {
    
  }
  .walking_guide_detail {
    .title {
      h2 {font-size: 20px;}
      p {}
    }
    > p {}

    .control_wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {font-size: 20px;}
      span {}
      p {}
    }
  }
  .walking_guide_complete {
    .result_wrap {
      p {
        text-align: center;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        > li {
          text-align: center;
          border: 1px solid #000;
        }
      }
    }
    .recommend_wrap {}
  }
  .walking_menu_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    > li {
      border: 1px solid #000;
      box-sizing: border-box;

      text-align: center;
    }
  }
  .btn_align {
    font-size: 20px;
    span {
      display: block;
      position: relative;
      padding-left: 26px;
      &::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;

        width: 20px;
        height: 20px;

        background: #000;;
      }
    }
  }
}
// 리워드 - 젤리
.jelly_reward_wrap {
  padding: 0 20px;
  button {
    font-size: inherit;
  }
  .holding_point {
    > li {
      > div {
        > div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding: 5px;
          &:first-child {
            border: 1px solid #000;
          }
        }
      }
    }
  }
  .point_guide {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 5px;
    }
  }
  .donation_banner {
    img {}
  }
  .notice_wrap {

  }
}
// 리워드 - H.Point 교환 비율
.point_exchange_wrap {}
// 리워드 - 젤리내역
.jelly_point_detail {

}

// 탭메뉴
.tab_menu_wrap {
  .tab_title {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    > li {
      flex: 1;
      text-align: center;
      &.active a {
        color: red;
      }
      > a {
        display: block;
      }
    }
  }
  .tab_content {
    > div {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}



// 인덱스 테이블
.index_table_wrap {
  padding: 20px 414px 20px 20px;
  .page_count {
    display: flex;
    font-size: 20px;
    font-family: '돋움',dotum,helvetica,sans-serif;
    li + li {
      margin-left: 20px;
    }
    span {color: red;}
  }
  table {
    tbody {
      tr {
        &.border {
          td {border-top-width: 4px;}
        }
      }
      td {
        padding: 5px 10px;
        border: 1px solid #000;

        font-size: 14px;
        font-weight: 600;
        &:last-child {
          text-align: center;
        }
        a:hover {
          color:red;
        }
      }
    }
  }
  .preview_wrap {
    position: fixed;
    top: 48px;
    right: 0;
    width: 392px;
    height: 667px;

    border: 1px solid #000;
    box-sizing: content-box;

    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
// 검수용 팝업 버튼
.popup_btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  button {
    display: block;
    width: 100%;
    max-width: 768px;
    height: 50px;
  
    background: #fff;
  
    color: red;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #000;
  }
}





// 임시
.designSelect {
  display: inline-block;
  position: relative;
  z-index: 100;
  min-width: 10.6rem;
  border: 1px solid #000;
  font-size: 1.4rem;
  line-height: 1;
  cursor: pointer;
  user-select: none;
	> .selected {
		display: flex;
		align-items: center;
		height: 3.4rem;
		padding: 0 1.2rem;
		border: 1px solid transparent;
		span {
			position: relative;
			width: 100%;
			padding-right: 1.4rem;
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				border-left: 0.4rem solid transparent;
				border-right: 0.4rem solid transparent;
				border-top: 0.6rem solid #000;
			}
		}
	}
	> .optionList {
		display: none;
		position: absolute;
		top: calc(100% + 1px);
		left: 0;
		width: 100%;
		> li {
			display: flex;
			align-items: center;
			height: 3.4rem;
			padding: 0 1.2rem;
			border: 1px solid #e4e4e4;
			border-top: 0 none;
			span {
				position: relative;
				width: 100%;
				padding-right: 1.4rem;
			}
		}
	}
	&.active {
		> .selected {
			background-color: #fff;
			border: 1px solid #e4e4e4;
			span:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
		> .optionList {
			display: block;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: calc(100% + 3.4rem);
				box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
			}
			> li {
				background-color: #fff;
				&.select {
					background: #d7d7d7;
				}
			}
		}
  }
}








.test_wrap {
  display: block !important;
  padding: 30px 0;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.mySwiper .swiper-slide {
  overflow: hidden;
  border-radius: 20px;
}
h1.temp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.scale_swiper {
  width: 100%;
  height: 200px;
  .swiper-slide {
    background: lightgray;
    border-radius: 20px;
    transform: scale(0.8);
    transition: transform 0.5s, background-color 0.5s;
  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    &.swiper-slide-active {
      transform: scale(1);
      background: #fc0;
    }
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left:0;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 900px;
  }
}
.circle_progress_wrap {
  position: relative;
  margin: 10% auto;
  width: 120px;
  .circle_progress {
    width: 100%;

    transform: rotate(-90deg);
    .frame,
    .bar { fill: none; }
    .frame { stroke: #e6e6e6; }
    .bar {
      stroke: #03c75a;
      stroke-linecap: round;
      transition: stroke-dashoffset 1s;
      stroke-dashoffset: 339.292
    }
  }
  input {
    width: 100%;
  }
  .value {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    text-align: center;
    color: #888;
    font-size: 16px;
    line-height: 120px;
  }
}
.bottom_sheet_modal {
  .show-modal {
    display: block;
    margin: 0 auto;

    outline: none;
    cursor: pointer;

    color: #fff;
    font-size: 12px;

    padding: 15px 22px;
    background: #4A98F7;
    transition: 0.3s ease;

    border: none;
    border-radius: 6px;
    box-shadow: 0 10px 18px rgba(52,87,220,0.18);
    &:hover {
      background: #2382f6;
    }
  }
  .bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    // height: calc(100% - 44px);
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: 0.1s linear;
    &.show {
      opacity: 1;
      pointer-events: auto;
    }
    .sheet-overlay {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      background: #000;
    }
    .content {
      position: relative;
      width: 100%;
      max-width: 1150px;
      // height: 50%;
      // max-height: 100%;
      max-height: calc(100% - 44px);

      background: #fff;
      padding: 25px 30px;

      box-sizing: border-box;
      border-radius: 12px 12px 0 0;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);

      transform: translateY(100%);
      transition: 0.3s ease;
      .header {
        display: flex;
        justify-content: center;
        .drag-icon {
          cursor: grab;
          user-select: none;
          padding: 15px;
          margin-top: -15px;
          span {
            height: 4px;
            width: 40px;
            display: block;
            background: #C7D0E1;
            border-radius: 50px;
          }
        }
      }
      .body {
        height: calc(100% - 19px); // 19px = header
        overflow-y: auto;
        padding: 15px 0 0px;
        scrollbar-width: none;
        box-sizing: border-box;
        &::-webkit-scrollbar {
          width: 0;
        }
        h2 {
          font-size: 18px;
        }
        p {
          margin-top: 20px;
          font-size: 11px;
        }
      }
    }
    &.show .content {
      transform: translateY(0%);
    }
    &.dragging .content {
      transition: none;
    }
    &.fullscreen .content {
      // border-radius: 0;
      overflow-y: hidden;
    }
  }
}
.number_count {
  padding: 0 20px;
  > .value {
    font-size: 30px;
    font-weight: bold;
  }
}
.grid_wrap {
  margin: 0 8px;
  .grid-sizer {
    width: 50%;
  }
  .grid-item {
    width: 50%;
    padding: 4px;

    position: relative;
  }
  .grid-item {
    border-radius: 20px;
    overflow: hidden;

    top: 100%;
    > span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 60px;
      font-weight: 800;
      color: cyan;
      text-shadow: 1px 1px 2px #000;
    }
    img {
      display: block;
      width: 100%;
    }
  }
}